<p-toast></p-toast>
<div class="login">
<div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
    
    <div class="text-center mb-5">
        <img src="assets/images/giraffe.png" alt="Image" height="50" class="mb-3">
        <div class="text-900 text-3xl font-medium mb-3">Change Password</div>
    </div>

    <div *ngIf="!resetPassword">
    <form [formGroup]="form" >
    <div>
<!--        <label for="user" class="block text-900 font-medium mb-2">User Name</label>-->
        <small *ngIf="inputForm.name.invalid && isSubmitted" class="p-error">
            <span *ngIf="inputForm.name.errors?.required">User id is Mandatory</span>
        </small>
        <input id="user" type="text" pInputText class="w-full mb-3" formControlName="name" placeholder="user name">

        <div>
<!--        <label for="email" class="block text-900 font-medium mb-2">Email</label>-->
        <small *ngIf="inputForm.email.invalid && isSubmitted" class="p-error">
            <span *ngIf="inputForm.email.errors?.required">Email id is Mandatory</span>
            <span *ngIf="inputForm.email.errors?.email">Email id is Invalid</span>
        </small>
        <input id="email" type="text" pInputText class="w-full mb-3" formControlName="email" placeholder="email">

<!--        <label for="mobile" class="block text-900 font-medium mb-2">Mobile</label>-->
        <small *ngIf="inputForm.email.invalid && isSubmitted" class="p-error">
            <span *ngIf="inputForm.mobile.errors?.required">Mobile is Mandatory</span>
        </small>
        <input  type="mobile" pInputText class="w-full mb-3" formControlName="mobile" placeholder="mobile">
        </div>
    </div>
    <div class="flex align-items-center justify-content-between mb-3">
        <div class="flex align-items-center">
            <div [ngStyle]="{color:'var(--blue-500)'}">
                        <p>Enter the User name, email and Mobile.</p>
            </div>
        </div>
   </div>
    <div>
        <button pButton pRipple label="Submit" icon="pi pi-user" class="w-full" (click)="submit()"></button>
    </div>
    <br/>
    <div  class="p-toolbar-group-right" class="text-center">
        <button (click)="onExit()" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"></button>
    </div>

    </form>
    </div>
    <div *ngIf="resetPassword">
        <form [formGroup]="form2" >
            <div *ngIf="!isValidOTP">
                <small *ngIf="passwordForm.otp.invalid && isSubmitted2" class="p-error">
                    <span *ngIf="passwordForm.otp.errors?.required">OTP is Mandatory</span>
                </small>
                <input (input)="validateOTP()" id="otp" type="text" pInputText class="w-full mb-3" formControlName="otp" placeholder="Enter OTP here">
                <div *ngIf="!isValidOTP" [ngStyle]="{color:'var(--red-500)'}">
                    <p>Incorrect OTP entered</p>
                    <button  pButton pRipple label="Resend OTP" icon="pi pi-key" class="w-full" (click)="submit()"></button>
                </div>
            
            </div>
            <div *ngIf="isValidOTP">
                <br/>
                <p-password formControlName="password1" [toggleMask]="true" placeholder="New Password"
                            styleClass="mb-3 p-password p-component p-inputwrapper p-input-icon-right"></p-password>
                <p-password formControlName="password2" [toggleMask]="true" placeholder="Re-enter Password"
                            styleClass="p-1 p-password p-component p-inputwrapper p-input-icon-right"></p-password>
            <div>
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <button (click)="onExit()" pButton pRipple type="button" label="Save" icon="pi pi-save" class="p-button-raised"></button>
                    </div>
                </p-toolbar>      <br/>
                <button pButton pRipple label="Submit" icon="pi pi-user" class="w-full" (click)="submitPassword()"></button>
            </div>
            </div>        
        </form>        
    </div>
</div>
</div>
