<p-toolbar>
    <p-calendar [(ngModel)]="monthFee" view="month" dateFormat="mm/yy" [readonlyInput]="true" 
                (onSelect)="monthSelect()" inputId="monthpicker" placeholder="Month"></p-calendar>
    <div class="p-toolbar-group-right">
        <button (click)="onCancel()" pButton pRipple type="button" label="Home" icon="pi pi-home" class="p-button-raised p-button-info"></button>
    </div>
</p-toolbar>  
<br/>
<div class="card" *ngIf="monthFee">
<p-table [value]="students" #dt responsiveLayout="scroll"
         [paginator]="true"         [rows]="5"  [showCurrentPageReport]="true"   
         [filterDelay]="0" [globalFilterFields]="['name']">
         >
         <ng-template pTemplate="caption">
            <div class="table-header">
                Pending Fee List 
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" 
                        (input)="dt.filterGlobal($any($event.target).value, 'contains')" 
                        placeholder="Search" /></span>
            </div>
        </ng-template>
    
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>             
            <th pSortableColumn="months">Month<p-sortIcon field="months"></p-sortIcon></th>            
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-students>
        <tr>
            <td>{{students.name}}</td>
            <td>{{students.months}}</td>
        </tr>
    </ng-template>
</p-table>
</div>